/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
  margin-left: 40%;
  margin-top: 12%;
  height: 50vh;
  width: 50vw;
  border-radius: 15.5px;
  overflow: hidden;
}

/* Optional: Makes the sample page fill the window. */
/* html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

body {
  overflow: hidden;
  background: #232323;
  color: #cdcdcd;
  font-family: "Montserrat", sans-serif;
}

#menuToggle {
  display: block;
  position: relative;
  top: 50px;
  left: 50px;

  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: #232323;

  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: tomato;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
        * Just a quick hamburger
        */
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #cdcdcd;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* 
        * Transform all the slices of hamburger
        * into a crossmark.
        */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
        * But let's hide the middle one.
        */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: absolute;
  width: 300px;
  height: 100vh;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;

  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}
.username {
  color: black;
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
  margin-top: 20px;
}

#menuToggle input:checked ~ ul {
  transform: none;
}
.red {
  color: red;
}
.plasma {
  position: absolute;
  padding-top: 10px;
  font-size: 40px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}
/* #map {
        height: 75%;
        width: 60%;
        position: absolute;
        background-color: whitesmoke;
        border-radius: 38.5px;
        margin-left: auto;
        margin-right: auto;
        left: 35%;
        top: 20%;
        text-align: center;
      }  */
.buttons {
  display: flex;
  flex-direction: column;
  width: 20%;
  justify-content: space-evenly;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 45%;
  left: 7%;

  text-align: center;
}
.b1 {
  padding: 20px;
  margin: 10px;
  border-radius: 32.5px;
  transition: all 100ms ease-in-out;
  border-style: none;
  font-size: 1.1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
.b1:hover {
  background-color: tomato;
  padding-top: 50px;
  padding-bottom: 50px;
  transition-timing-function: ease-in-out;
}

@media screen and (max-width: 992px) {
  .b1 {
    font-size: 1rem;
  }
}

body {
  margin: 0;
}

#map {
  height: 60vh;
  width: 50vw;
}
.marker {
  background-image: url('../resources/blood-cells/2.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
.marker1 {
  background-image: url('../gps.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
.marker2 {
  background-image: url('../gps2.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}